server {
    listen 80;
    server_name meowsic;

    root /web/;

    resolver 127.0.0.11 valid=5s ipv6=off;

    location /music {
        alias /music/;
        autoindex off;
    }

    location /api {
        # Use a variable for proxy_pass to force Nginx to re-resolve
        set $backend_host "backend";
        proxy_pass http://$backend_host:3457;

        # Standard proxy headers (recommended for reverse proxies)
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location / {
        root /web/;

        try_files $uri $uri/ /index.html;
    }
}